{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://x.com/goodToGolang">X (former Twitter)</a></li>
        <li><a href="https://github.com/JoeyScottSchronce">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}